# Python cache files
__pycache__/
*.pyc

# Ignore course test directories in all exercise folders
**/test/

# Ignore TMC extension workspace and configuration folders
.tmc/
**/.tmc/
**/tmc/
.tmcproject.yml
.tmc.json

# Ignore course configuration
course_config.toml


#output files

**.txt